body{
    background-color: coral;
}
p{
    font-size:30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    font-size: 60px;
}
img{
    float:left;
}
h1{
    font-size: 50px;
    font-weight: bold;
}
